.bajs-cs-app {
    .bajs-cs-app__left,
    .bajs-cs-app__right,
    .bajs-cs-app__top,
    .bajs-cs-app__bottom {
        cursor: pointer;
    }

    .bajs-cs-app__left,
    .bajs-cs-app__right {
        position: absolute;
        top: 0;
        width: 10px;
        height: 100%;
    }

    .bajs-cs-app__top,
    .bajs-cs-app__bottom {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10px;
    }

    .bajs-cs-app__left {
        border-left: solid 1px transparent;
    }

    .bajs-cs-app__top {
        top: 0;
        border-top: solid 1px transparent;
    }

    .bajs-cs-app__right {
        right: 0;
        border-right: solid 1px transparent;
    }

    .bajs-cs-app__bottom {
        bottom: 0;
        border-bottom: solid 1px transparent;
    }
}

.bajs-csbg-tool {
    position: absolute;
    left: 100%;
    top: 0;
    display: flex;
    align-items: flex-start;
    // display: none;
    z-index: 1;

    ul {
        width: 36px;
        padding: 0;
        margin: 0;
        margin: 0 8px;
        list-style: none;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: $box-shadow-tool;
    }

    li {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        * {
            cursor: pointer;
        }

        path {
            fill: #525252;
        }

        label {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        &:hover {
            path {
                fill: $color-primary;
            }
        }

        &:first-child {
            border-radius: 5px 5px 0px 0px;
        }

        &:last-child {
            border-radius: 0px 0px 5px 5px;
        }
    }

    .bajs-csbg-tool__menu-active {
        background-color: var(--ms-color-primary) !important;

        path {
            fill: #fff !important;
        }
    }
}

.bajs-csbg-content {
    display: none;

    .bajs-csbg-content__item {
        width: 215px;
        padding: 16px;
        background-color: #fff;
        box-shadow: $box-shadow-tool;
        border-radius: 3px;
        margin-bottom: 16px;
    }

    .bajs-bg-solid-title {
        font-weight: bold;
        font-size: 12px;
        color: #464646;
        margin-bottom: 5px;
    }

    .bajs-input-color input {
        height: 38px;
        background: #ffffff;
        border-radius: 3px;
        padding: 0 8px;
        outline: none;
    }

    .bajs-input-color__btn {
        width: 25px;
        height: 25px;
        border: 1px solid #c4c4c4;
        background-color: #fff;
        border-radius: 3px;
    }

    .bajs-input-color {
        position: relative;
    }

    .bajs-input-color__btn {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .bajs-slider__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }
}

/** 
    dấu chấm các góc 
*/
.bajs-cs-app__vertical-top,
.bajs-cs-app__vertical-center,
.bajs-cs-app__vertical-bottom,
.bajs-cs-app__horizontal-center {
    width: 5px;
    height: 5px;
    background: #fff;
    border: 1px solid #c6c6c6;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.bajs-cs-app__horizontal-center {
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.bajs-cs-app__top .bajs-cs-app__horizontal-center {
    top: -3px;
}

.bajs-cs-app__vertical-top {
    top: -2px;
}

.bajs-cs-app__vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.bajs-cs-app__vertical-bottom {
    top: initial;
    bottom: -2px;
}

.bajs-cs-app__left {
    .bajs-cs-app__vertical-top,
    .bajs-cs-app__vertical-center,
    .bajs-cs-app__vertical-bottom {
        left: -3px;
    }
}

.bajs-cs-app__right {
    .bajs-cs-app__vertical-top,
    .bajs-cs-app__vertical-center,
    .bajs-cs-app__vertical-bottom {
        right: -3px;
    }
}

.bajs-csbg-active .bajs-cs-app,
.bajs-csbg-focus .bajs-cs-app {
    .bajs-cs-app__left,
    .bajs-cs-app__right,
    .bajs-cs-app__top,
    .bajs-cs-app__bottom {
        cursor: pointer;
        border-color: #c6c6c6;
    }
}

.bajs-csbg-active .bajs-cs-app,
.bajs-csbg-focus .bajs-cs-app {
    .bajs-cs-app__vertical-top,
    .bajs-cs-app__vertical-center,
    .bajs-cs-app__vertical-bottom,
    .bajs-cs-app__horizontal-center {
        opacity: 1;
        z-index: 1;
    }
}
