.bajs-tool--hashtag {
    z-index: 9;
    display: none;
    right: 0;
    left: initial;

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1 !important;
        border-color: #f1f1f1 !important;
    }

    ::-webkit-scrollbar-thumb {
        background: #dcdcdc !important;
        border-color: #dcdcdc !important;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c1c1c1 !important;
        border-color: #c1c1c1 !important;
    }
}

.bajs-tool__hashtag {
    @extend .non-select;
    width: 210px;
    max-height: 300px;
    overflow: auto;
    text-align: left;

    .bajs-hashtag__name {
        color: #a2a2a2;
        font-weight: 600;
        padding-bottom: 8px;
    }

    .bajs-hashtag__list {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: solid 1px #e0e0e0;
    }

    .bajs-hashtag__item {
        padding: 4px 0;
        color: #555;
        cursor: pointer;

        &:hover {
            color: #286efa;
        }

        &:active {
            opacity: 0.7;
        }
    }

    .bajs-hashtag__group:last-child {
        .bajs-hashtag__list {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

.bajs-hashtag-btn {
    @extend .non-select;
    width: 25px;
    height: 22px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    right: 0;

    .bajs-hashtag-icon {
        font-size: 12px;
        margin-top: -2px;
    }

    &:hover {
        color: #2f54eb;
    }
}

// bajs-hashtag-group
.bajs-hashtag-group {
    padding: 3px;
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 330px;
    font-size: 13px;
    opacity: 0;
    z-index: -1;

    .bajs-hashtag-group__header {
        display: flex;
        background-color: #f5f5f5;
        padding: 5px 6px;
    }

    .bajs-hashtag-group__header-label {
        width: 40px;
        font-size: 11px;
        text-align: center;
    }

    .bajs-hashtag-group__header-explain {
        color: #888;
        flex: 1;
    }

    .bajs-hashtag-group__fallback {
        margin-top: 4px;
    }

    .bajs-hashtag-group__color {
        width: 30px;
        height: 20px;
        border: solid 1px #ccc;
        border-radius: 3px;
        cursor: pointer;

        > div {
            width: 100%;
            height: 100%;
        }
    }

    .bajs-hashtag-group__body {
        display: flex;
        align-items: center;
        height: 30px;
    }

    .bajs-hashtag-group__body-label {
        font-weight: 600;
        color: #999;
        width: 70px;
        font-size: 12px;
        text-align: left;
        padding-left: 5px;
        border-right: solid 1px #f3f3f3;
        margin-right: 5px;
    }

    .bajs-hashtag-group__body-form {
        flex: 1;
        width: 230px;

        input {
            border: none;
            outline: none;
            width: 100%;
        }
    }
}

.bajs-hashtag-group.bajs-hashtag-group--open {
    opacity: 1;
    z-index: 1;
}

.bajs-hashtag-key {
    cursor: pointer;
    white-space: nowrap;
    // font-size: 11px;

    & > span {
        padding: 0 8px;
        background-color: #eee;
        border-radius: 3px;
        font-size: 11px;
        display: inline-block;
        height: 17px;
        line-height: 17px;
        box-shadow: inset 0px 0px 0px 1px #ccc;
    }

    & > span:before {
        font-weight: 600;
        margin-right: 5px;
    }

    &:hover {
        span {
            color: #315dfb;

            &:after {
                color: #315dfb;
            }
        }
    }

    &:active {
        opacity: 0.7;
    }
}

.bajs-hashtag-key[hashtag-focus="true"] span {
    box-shadow: 0px 0px 0px 3px #1890ff45;
    border-radius: 3px;
}

.bajs-hashtag-key--warning {
    span {
        background-color: #ffe2b3;
        color: #7b4600;
        box-shadow: inset 0px 0px 0px 1px #ffb948;
    }

    & > span:before {
        content: "\26A0";
    }

    &[hashtag-focus="true"] span {
        box-shadow: 0px 0px 0px 3px rgba(255, 185, 72, 0.3),
            inset 0px 0px 0px 1px #ffb948;
    }
}
