.bajs-tool--input {
    visibility: hidden;
    opacity: 0;
}

.bajs-tool__picker--color {
    margin-left: 5px;
}

// Open tool
.bajs.bajs-tool--input-open {
    .bajs-tool--input {
        visibility: visible;
        opacity: 1;
    }
}
