.bajs-select__font-family {
    flex: 1;
}

.bajs-select__font-size {
    flex: 1;
    max-width: 75px;
    margin-left: 10px;
}

.bajs-tool__text {
    div.bajs-select {
        margin-bottom: 5px;
    }
}
