// .bajs-body .bajs-block:nth-child(2) .bajs-editor:empty:not(:focus):before {
//     content: 'hello';
//     color: #cccccc;
//     font-weight: 300;
// }

// utils
.non-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bajs-app {
    font-size: $fz;
    box-sizing: border-box;
    border: 1px solid #c4cdd5;
    border-radius: 2px;

    * {
        box-sizing: border-box;
    }
}

.bajs-body {
    position: relative;
}

.bajs {
    padding: $padding-app;
    position: relative;
}

.bajs-wrap {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}

// Options hide
.bajs--hide-line .bajs-block-line {
    display: none;
}

.bajs--hide-line-add {
    .bajs-block-line,
    .bajs-add {
        display: none;
    }
}

#create-image {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.bajs-block-line {
    width: calc(100% - 50px);
    height: 10px;
    // cursor: copy;
    position: absolute;

    div {
        width: 100%;
        height: 100%;
        position: relative;

        &:after {
            content: "";
            left: 0;
            bottom: 50%;
            width: 100%;
            border-bottom: dashed 1px #ebebeb;
            position: absolute;
        }
    }
}

// tool
.bajs-tool {
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    visibility: hidden;
}

// tool form
.bajs-tool--form {
    padding: 0;
    padding-top: 3px;
    @extend .non-select;

    .bajs-tool__list {
        display: flex;
        flex-direction: column;
        width: 150px;

        label {
            cursor: pointer;
            padding: 3px;
            margin-bottom: 0px;
            display: flex;
            align-items: center;

            span {
                margin-left: 5px;
            }

            &:hover {
                background-color: #ececec;
            }
        }
    }

    .bajs-tool__align {
        display: flex;
        margin-top: 3px;
        border-top: solid 1px #e4e4e4;
    }

    .bajs-tool__item {
        @extend .non-select;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 3px;

        &:hover {
            background-color: #ececec;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

// tool photo
.bajs-tool--image {
    opacity: 0;
    z-index: -1;
}

.bajs-type-photo img {
    @extend .non-select;
}

.bajs-tool__photo {
    .bajs-tool__row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bajs-tool__item {
        @extend .non-select;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 3px;

        &:hover {
            background-color: #ececec;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

// tool text
.bajs-tool--text {
    opacity: 0;
    z-index: -1;
}

.bajs-href {
    cursor: pointer;
}

.bajs-tool__text {
    .bajs-tool__row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bajs-tool__item {
        @extend .non-select;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 3px;

        &:hover {
            background-color: #ececec;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

// tool button
.bajs-tool--button {
    opacity: 0;
    z-index: -1;
}

.bajs-tool__item-bg {
    border-radius: 3px;
    border: solid 1px #ccc;
    width: 22px !important;
    height: 22px !important;
}

.bajs-tool__button {
    .bajs-tool__row {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .bajs-tool__item {
        @extend .non-select;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 3px;

        &:hover {
            background-color: #ececec;
        }

        &:active {
            opacity: 0.7;
        }
    }

    .bajs-tool__row-input {
        width: 100%;

        input {
            border: none;
            height: 22px;
            outline: none;
            padding: 0 8px;
            color: #595959;
        }
    }

    .bajs-tool__input-color {
        display: flex;
        margin: 5px 0;

        input {
            flex: 1;
        }

        .bajs-tool__btn-picker {
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            border: solid 1px #d9d9d9;
            margin-left: 3px;
            cursor: pointer;
            margin-left: 12px;
        }
    }

    .bajs-tool__input input {
        width: 100%;
    }
}

.bajs-tool__item-bg {
    & > div {
        width: 100%;
        height: 100%;
    }

    &:active {
        opacity: 1 !important;
    }
}

// Display error
.bajs-error-explain {
    display: none;
}

.bajs-has-error {
    input {
        box-shadow: 0px 0px 0px 1px #fb424c;
    }

    .bajs-error-explain {
        color: #f5222d;
        font-size: 12px;
        margin-top: 5px;
        display: block;
    }
}

// add component
.bajs-add {
    position: absolute;
    top: 0;
    left: 0;
}

.bajs-add-wrap {
    position: relative;
}

.bajs-add__btn {
    @extend .non-select;
    width: 25px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    color: #000;

    &:hover {
        color: #2f54eb;
    }
}

.bajs-add__dropdown {
    padding: 3px 0;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -9;

    .bajs-add__dropdown-item {
        @extend .non-select;
        cursor: pointer;
        align-items: center;
        padding: 10px 10px;
        display: flex;
        white-space: nowrap;

        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;

            &:first-child {
                width: 22px;
                text-align: center;
            }
        }

        &:hover {
            color: $color-primary;

            path {
                fill: $color-primary;
            }
        }

        &:active {
            opacity: 0.7;
        }
    }
}

.bajs-add__dropdown-sub {
    border: solid 1px #ccc;
    padding: 3px 0;
    border-radius: 2px;
    width: 140px;
    position: absolute;
    top: 0;
    right: calc(100% - 22px);
    background-color: #fff;
    opacity: 0;
    z-index: -9;
}

.bajs-add--open-dropdown {
    display: block !important;

    .bajs-add__dropdown {
        opacity: 1;
        z-index: 1;
    }

    & ~ .bajs-block-line {
        display: block !important;
    }
}

// hide add + line without editor
.bajs-add,
.bajs-block-line {
    display: none;
}

.bajs:hover {
    .bajs-add,
    .bajs-block-line {
        display: block;
    }
}

// hide line + add when has open tool
.bajs.bajs-tool--image-open,
.bajs.bajs-tool--image-open,
.bajs.bajs-csbg-hover,
.bajs.bajs-csbg-active,
.bajs.bajs-tool--text-open {
    .bajs-add,
    .bajs-block-line {
        display: none;
    }
}

// open tools
.bajs.bajs-tool--image-open {
    .bajs-tool--image {
        opacity: 1;
        z-index: 999;
        visibility: visible;
    }
}

.bajs.bajs-tool--button-open {
    .bajs-tool--button {
        opacity: 1;
        z-index: 999;
        visibility: visible;
    }
}

.bajs.bajs-tool--text-open {
    .bajs-tool--text {
        opacity: 1;
        z-index: 999;
        visibility: visible;
    }
}

// custom color picker
.bajs-app .picker_wrapper.popup {
    width: 180px;
    padding: 0;

    &.popup {
        margin: 0 5px;
        border-radius: 1px;
    }

    .picker_arrow:after {
        border-radius: 6px 0 0 0;
    }

    .picker_arrow:before {
        content: none;
    }

    .picker_editor {
        width: 75px;
        height: 20px;

        input {
            font-size: 13px;
            height: 100%;
            color: #555;
        }
    }

    .picker_sample {
        height: 20px;
    }

    .picker_sl .picker_selector {
        padding: 3px;
    }

    .picker_hue {
        padding: 5px;

        .picker_selector {
            padding: 0;
            height: 100%;
        }
    }

    .picker_alpha {
        padding: 5px;

        .picker_selector {
            width: 100%;
            padding: 0;
        }
    }
}

// drag drop sort
.bajs {
    .sortable-chosen {
        cursor: pointer;

        .bajs-block-wrap {
            // padding-top: 8px;
        }

        &:after {
            content: "";
            position: absolute;
            top: -2px;
            left: 0;
            border: dashed 1px #1890ff;
            width: 100%;
            height: 100%;
        }
    }
}

.bajs-draging {
    .bajs-add,
    .bajs-block-line {
        display: none !important;
    }
}

.bajs-clicked {
    box-shadow: 0px 0px 0px 3px #1890ff45;
}

// Tool Link
.bajs-hashtag-icon {
    font-size: 12px;
    font-weight: 600;
}

.bajs-tool__link {
    display: flex;
    align-items: center;

    input {
        font-size: 13px;
        border: none;
        padding: 5px;
        height: 22px;
        outline: none;
        width: 180px;

        &:focus {
            box-shadow: 0 0 0;
        }
    }

    .bajs-tool__row {
        display: flex;
        align-items: center;
    }

    .bajs-tool__item {
        display: flex;
        align-items: center;
        width: 25px;
        height: 25px;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        margin: 0 3px;

        &:hover {
            background-color: #ececec;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

.bajs-tool__item {
    color: #595959;
}

.bajs-tool__item.bajs-tool__item--active {
    color: #286efa;
    background-color: #eef4ff !important;
}

//
.bajs-tool--link {
    opacity: 0;
    z-index: -1;
}

.bajs-tool--link.bajs-tool--link-open {
    opacity: 1;
    z-index: 999;
    visibility: visible;
}

// bootstrap-3
.bajs-app .bajs-container {
    width: 100% !important;
}

.bajs-delete-component {
    position: absolute;
    right: 0;
    width: 100%;
    text-align: right;
    height: 0;
    padding-top: 15px;
    padding-right: 0;
    transition: 0.15s;
    opacity: 0;

    div {
        width: 30px;
        height: 30px;
        color: #f44336;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 1px 1px 8px #ccc;
        cursor: pointer;

        &:hover {
            background-color: #f2f2f2;
        }
    }
}

.bajs-block:hover {
    .bajs-delete-component {
        padding-right: 15px;
        visibility: visible !important;
        opacity: 1;
    }
}

.bajs-hashtag-group,
.bajs-tool {
    transition: 0.3s;
}

.bajs-hashtag-group,
.bajs-tool__btn-color .picker_wrapper,
.bajs-emoji,
.bajs-add__btn,
.bajs-hashtag-btn,
.bajs-tool,
.bajs-add__dropdown {
    box-shadow: $box-shadow-tool;
    background-color: #fff;
}
