$fz: 14px;
$padding-app: 0 25px;

$color-primary: #2f54eb;
$color-primary-hover: #3c63ff;
$color-secondary: #1890ff;
$color-danger: #f5222d;
$color-danger-hover: #f96068;
$color-warning: #faad14;
$color-success: #52c41a;
$color-white: #fff;

// $box-shadow-tool: 0 4px 14px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
$box-shadow-tool: 0px 4px 10px rgba(0, 0, 0, 0.15);
